<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.student.mybatis.StudentMapper">
    <select id="findAll" resultType="StudentMybatis">
        select * from student
    </select>

    <select id="findById" resultType="StudentMybatis">
        select * from student where id = #{id}
    </select>

    <select id="findByName" resultType="StudentMybatis">
        select * from student where name = #{name}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into student (name,age,gender)
        values (#{name},#{age},#{gender})
    </insert>

    <delete id="delete">
        delete from student where id=#{id}
    </delete>
    <update id="updateAge">
        update student
        set age = #{age}
        where name=#{name}
    </update>

</mapper>